.box {
  display: flex;
}

#send {
  width: 10%;
  color: white;
  border-radius: 5px;
}

.box input {
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

#response,
#responseStatus {
  margin-top: 10px;
  border: 1px solid steelblue;
  border-radius: 10px;
  background: lightgray;
  padding: 20px;
}

.isHidden {
  display: none;
}

.activeBtn {
  background: steelblue;
}

.disabledBtn {
  background: grey;
}
